<div class="div">
    <h1>Calças</h1>
    <div class="conteudo">
        <div class="produto">
            <img src="assets/img/moletom.png" width="100px">
            <a [routerLink]="['/product-calca', 'Roupa', 'Moletom']">Moletom</a>
        </div>

        <div class="produto">
            <img src="assets/img/dins.jpeg" width="100px">
            <a [routerLink]="['/product-calca', 'Roupa', 'jeans']">Dins</a>
        </div>

        <div class="produto">
            <img src="assets/img/jogger.webp" width="100px">
            <a [routerLink]="['/product-calca', 'Roupa', 'jogger']">jogger</a>
        </div>

    </div>
</div>
