<header class="header">
  <nav class="nav">
    <mat-icon routerLink="/">flutter_dash</mat-icon>
    <div 
    *ngFor="let link of links; let i = index" 
    class="link-container"
    (mouseenter)="toggleDropdown(i, true)"
    (mouseleave)="toggleDropdown(i, false)"
    >
    <a [routerLink]="link.route" class="main-link">{{link.name}}</a>

    <div *ngIf="showDropdown[i]" class="dropdown">
      <a 
      *ngFor="let subLink of link.subLinks"
      [routerLink]="[subLink.route, subLink.category, subLink.productName]"
      class="sub-link"
      >{{subLink.name}}</a>
    </div>

    </div>
  </nav>
</header>

<div class="conteudo">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  roda pe aqui
</footer>

