<div class="div">
    <h1>Tênis</h1>
    <div class="conteudo">

        <div class="produto">
            <img src="assets/img/tenis1.jpg" width="100px">
            <a [routerLink]="['/product-tenis', 'tenis', 'Nike']">Nike</a>
        </div>
        
        <div class="produto">
            <img src="assets/img/tenis2.webp" width="100px">
            <a [routerLink]="['/product-tenis', 'tenis', 'Adidas']">Adidas</a>
        </div>

        <div class="produto">
            <img src="assets/img/puma.webp" width="100px">
            <a [routerLink]="['/product-tenis', 'tenis', 'Puma']">Puma</a>
        </div>
</div>