<div class="div">
    <h1>ABOUT</h1>
    <div class="conteudo">
        
        <div class="produto">
            <img src="assets/img/pipa.webp" width="100px">
            <a [routerLink]="['/product', 'pipa', '3-pipas-por-10']">3 Pipas por R$10</a>
        </div>

        <div class="produto">
            <img src="assets/img/linha.webp" width="100px">
            <a [routerLink]="['/product', 'linha', '1-deizao-de-linha-por-12']">1 deizão de Linha por R$12</a>
        </div>

    </div>
</div>

