<div class="div">
    <h1>RADIOS E CELULARES</h1>
    <div class="conteudo">
        
        <div class="produto">
            <img src="assets/img/radio1.webp" width="100px">
            <a [routerLink]="['/product-radio', 'tecnologia', 'radio1']">Dos anos 80</a>
        </div>

        <div class="produto">
            <img src="assets/img/radio2.jpg" width="100px">
            <a [routerLink]="['/product-radio', 'tecnologia', 'radio2']">Anos 2000</a>
        </div>

        <div class="produto">
            <img src="assets/img/radio3.webp" width="100px">
            <a [routerLink]="['/product-radio', 'tecnoligia', 'radio3']">Uns dos mais atuais</a>
        </div>

    </div>

    <div class="conteudo">

        <div class="produto">
            <img src="assets/img/iphone.webp" width="100px">
            <a [routerLink]="['/product-radio', 'tecnoligia', 'Iphone']">Iphone</a>
        </div>

        <div class="produto">
            <img src="assets/img/samsung.webp" width="100px">
            <a [routerLink]="['/product-radio', 'tecnoligia', 'Samsung']">Samsung</a>

        </div>

        <div class="produto">
            <img src="assets/img/xiaomi.webp" width="100px">
            <a [routerLink]="['/product-radio', 'tecnoligia', 'Xiaomi']">Xiaomi</a>

        </div>

    </div>
</div>