<div class="divisor">
    <!-- <div>
        <h1>Produtos</h1>
        <a routerLink="/product/pipa">Pipas e Linhas</a><br>
        <a routerLink="/product-calca/calça">Calças</a><br>
        <a routerLink="/product-radio/radio">Radios e Celulares</a><br>
        <a routerLink="/product-tenis/tenis">Tênis</a>
    </div> -->
    <router-outlet></router-outlet>
      
</div>

    <!-- o segundo nome nao importa, pq la no rotas ja esta mandando pra rota que deseja -->
        
        

<!-- 
eu queria não ter que criar um componente para cada produto, 
queria criar uma categoria roupas e 
deixar nela as calças, blusas, tenis. 
e tbm outra tecnologia e deixar 
celulares, radios, fones. 
e outra com produtos 
alheios e colocar pipas, linhas, antena.  
-->